{% extends "layout.html" %}

{% block title %}
    UJ News
{% endblock  %}

{% block content%}
<h1 class="text-center mt-5">Welcome to UJ News</h1>
<h2>
    {% if form.instance.pk %}
        Edit Tweet
    {% else %}
        Create Tweet
    {% endif %} 
    <form method="post" enctype="multipart/form-data" class='form'>
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
    <a href ="{% url 'tweet_list' %}" class="btn btn-secondary">Back to Tweets</a>


    </h2>
{% endblock %}